@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    height: 100vh; 
    margin: 0;
    background-color: #1a1a1a;
    overflow: hidden;
    position: relative; 

}

body::before {
    content: "";
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
      linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), /* Dégradé d'assombrissement */
      url('../assets/habbo-bg.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: blur(8px);
    z-index: -1; 
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 17vh;
    object-fit: cover;
    z-index: 2; 
    filter: blur(1px);
    box-shadow: black 0px 0px 20px;
    background-image: 
      linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
      animation: fadeInCenter 1s ease-out; 
}


#login {
    position:  absolute;
    top: 2.8rem;
    right: 4rem;
    z-index: 15; 
    animation: fadeInTopRight 1s ease-out;
}

#login:hover {
    cursor: pointer;
}


#socials {
    position: fixed;
}   


#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 100%;
    z-index: 1; 
}



#container h1{
    font-size: 2.5em;
}

#container img {
    margin-bottom: 3rem;
    animation: fadeInCenter 1.5s ease-out; 
}
h1, #container p {
    animation: fadeInText 2s ease-out; 
}

.footer {
    background-image: 
      linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1));
    width: 100%;
    height: 17vh;
    z-index: 10; 
    position: fixed;
    bottom: 0;
    box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.6);
    animation: fadeInCenter 1s ease-out; 
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 40px;

}

.footer li {
    list-style: none;
    margin: 0 1em;
}
.footer p {
    font-size: 1em; 
    text-align: center; 
    position: fixed; 
    left: 50%; 
    bottom: 0; 
    transform: translateX(-50%);
    color: #888888;
    margin-bottom: 5px;
}


/* ANIMATION CHARGEMENT */
/* Animation de fondu pour le contenu */
@keyframes fadeInCenter {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Animation de fondu pour les textes */
@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation de fondu pour le logo Discord */
@keyframes fadeInTopRight {
    from {
        opacity: 0;
        transform: translateY(-20px) translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateX(0);
    }
}


.footer li a:hover svg, #login:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#container img {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Pour que les particules soient en arrière-plan */
  }
  



      /* Styles pour la popup
       .popup {
        display: none; 
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        background-color: rgb(11, 11, 11);
        z-index: 1000;
        border-radius: 8px;
        color: black;
        }

        #staff-login-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }
        
        .popup input {
            padding: 0.5rem;
            border-radius: 5px;
            border: none;
            color: black;
        }
        .popup.active {
        display: block; 
    }
    .popup-overlay {
        display: none; 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
        color: black;

    }
    .popup-overlay.active {
        display: block; 
    }
    .popup button.close {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
        color: white;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    .popup button {
        padding: 0.5rem;
        border-radius: 5px;
        border: none;
        color: black;
        background-color: #f1f1f1;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
    }